PORT=8080
SERVICE_NAME=certlayer-api
DATABASE_URL=postgres://postgres:postgres@localhost:5432/certlayer
GENLAYER_RPC_URL=https://rpc-bradbury.genlayer.com
GENLAYER_CHAIN=testnet-bradbury
GENLAYER_CONTRACT_ADDRESS=0x2Beedb6570e3f15272363462985c89AfC88F6F09
GENLAYER_SECURITY_CONTRACT_ADDRESS=0x3D91657256bcad522b201eaED2a6C9FEb3208Bd1
GENLAYER_SERVER_ACCOUNT=0x7ded885a1f6f6c69dd8472b3e66d950396f4024a
# Required for live writes (signed transaction flow):
GENLAYER_SERVER_PRIVATE_KEY=
API_KEY=
ADMIN_WALLETS=0x7ded885a1f6f6c69dd8472b3e66d950396f4024a
